
@media only screen and (min-width: 2550px) {
	main {
		width: calc(100% - 730px);
		margin: 0 365px;
	}
	.hispan {padding-left:0px; padding-top: 97px; margin-left:-150px}
	h1 {font-size: 125px;}
	.holder {
	  width: 1440px;
	  height: 800px;
          top:-136px;
    }
    .W img {
	max-width:1240px;
    }
     .scroll-btn {bottom:90px;}
     .bckletters {top: -20vh;}
}
@media only screen and (max-width: 1440px) {
    .mhome {padding:50px 0 0 50px;}
    h1 {font-size: 75px;}
    .holder {
	  width: 900px;
	  height: 500px;
	  top:-70px;
    }
    .bckletters {
    	top:-165px;
    	width:714px;
    }
}
@media only screen and (max-width: 760px) {
	header {left:40px;}
    .main {
        padding: 40px 40px;
        margin:0 auto;
    }
    section, .projdiv {height:auto}
    .primg, .landing {position:relative}
    .mhome {padding:0px;}
    .bckletters {
	    transform: translate(30%, -37%);
	}
	.W {
	  width: 518px;
	  height: 542px;
	}
}