
@media only screen and (min-width: 2550px) {
	body {font-size:30px;}
	.about p {font-size:32px;}
	main {
		width: calc(100% - 730px);
		margin: 0 365px;
	}
	.hispan {padding-left:0px; padding-top: 97px; margin-left:-150px}
	h1 {font-size: 125px;}
	.projpg h1 {
	    font-size: 180px;
	}
	.holder {
	  width: 1440px;
	  height: 800px;
          top:-136px;
    }
    .W img {
	max-width:1240px;
    }
     .scroll-btn {bottom:90px;}
     .bckletters {top: -40vh;}
     .mhome {
		padding:100px 0 0 100px; 
	}
     body:not(.projpg) aside {
		right:150px;	
	}
	.centertxt > * {font-size: 32px;}
	.projpg h2 {
	    font-size: 44px;
	}
	.ablft {width:calc(48vw - 365px);}
	.abrgh {width:calc(44vw - 365px);}
	.about h1 {font-size: 94px;}
}
@media only screen and (max-width: 1440px) {
    .mhome {padding:50px 0 0 50px;}
    h1 {font-size: 75px;}
    .projpg h1 {
		font-size: 120px;
	}
	.about h1 {font-size: 64px; max-width:100%;}
    .holder {
	  width: 900px;
	  height: 500px;
	  top:-60px;
    }
    .bckletters {
    	top:calc(-3vh - 300px);
    }
    .scroll-btn {
        bottom:10px;
    }
    .mhome img {
	    width: 36px;
	}
	.close {
		width:18px;
		height:18px;
	}
	.projpg aside {width:18px;}
	.greybck {
	  width: 550px;
	  height: 720px;
	  max-width:100%;
	}
	.about p {font-size:22px;}
	.titinfo { width: 850px;}
}
@media only screen and (max-width: 1366px) {
	body, .centertxt > * {font-size:16px}
	h1 {font-size: calc(75px - 0.75vw);}
	section:not(:first-of-type) .landing {
	   left: 39%;
	}
	.projpg h1 {
		padding:150px 0 70px;
		font-size: calc(120px - 0.75vw);
	}
	.projpg h2 {
	    font-size: 20px;
	}
	.about h1 {
    font-size: calc(65px - 0.7vw);
    max-width: 90%;
	}
}
@media only screen and (max-width: 760px) {
	header {left:40px;}
    .main {
        padding: 40px 40px;
        margin:0 auto;
    }
    section, .projdiv {height:auto}
    .primg, .landing {position:relative}
    .mhome {padding:0px;}
    .bckletters {
	    //transform: translate(30%, -37%);
	}
	.W {
	  width: 518px;
	  height: 542px;
	}
}